@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Comfortaa:wght@300..700&display=swap");

:root {
  --primaria: #f8e2e3;
  --secundaria: #551f02;
  --tom-1: #fbbaae;
  --tom-fundo: #f8e2e3;
  --marrom-escuro: #270f01;
}

section {
  height: 100svh;
  width: 100%;
  padding: 64px 32px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* modelo chat */
/* seção do video e logo */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; /* altura da tela toda */
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* atrás de tudo */
}

.logo-container {
  position: relative;
  z-index: 1; /* na frente do vídeo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* centraliza verticalmente */
}

.logo-container img {
  width: 400px; /* ajuste conforme seu design */
}

/* Donuts favoritos */
.donuts-section {
  background: #fce2e7;
  padding: 60px 20px;
  font-family: "Comfortaa", cursive;
  color: #000;
  text-align: left;
  display: flex;
}

.donuts-section h2 {
  font-family: "Coiny", cursive;
  font-size: 45px;

  margin-bottom: 50px;
  line-height: 1;
  text-align: left;
  font-weight: 900;
  color: black;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  margin-top: 20px;
}

.donut-card {
  position: relative;
  max-width: 340px;
  margin: 0 auto;
  text-align: left;
}

.donut-img-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: 30px;
}

.donut-img {
  position: relative;
  z-index: 2;
  margin-left: 20px;
 

}

.donut-info h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Coiny", cursive;
  margin-bottom: 20px;
  margin-top: 70px;
}

.donut-info p {
  font-size: 20px;
  color: #333;
  font-weight: 300;
  margin-top: auto;
}

.arrow-btn {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 36px;
  color: #7a4a34;
  cursor: pointer;
}

/* CIRCULOS */
.circle-container {
  position: absolute;
  width: 200px; /* largura do círculo maior */
  height: 200px; /* altura do círculo maior */
  margin: 0 auto; /* centraliza na página */
}

.circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}

/* Círculo maior atrás */
.big-circle {
  width: 280px;
  height: 280px;
  background-color: #c97f22;
  z-index: 2;
  opacity: 0.5;
  filter: blur(15px);
}

/* Círculo menor na frente */
.small-circle {
  width: 220px;
  height: 220px;
  background-color: #ffff;
  z-index: 2;
  opacity: 0.8;
  filter: blur(15px);
}

.translate-y-center {
  translate: 15% -50%;
  top: 50%;
}

.mask {
  height: 190px;
  width: 220px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
  }
}

swiper-slide {
  padding-top: 100px;
}

.containerr {
  height: 550px;
}

.amendoin {
  .small-circle {
    background-color: white;
  }
  .big-circle {
    background-color: rgb(179, 138, 86);
  }
}

.Morango {
  .small-circle {
    background-color: white;
  }
  .big-circle {
    background-color: palevioletred;
  }
}

.choc-branco {
  .small-circle {
    background-color: rgb(255, 255, 255);
  }
  .big-circle {
    background-color: rgba(255, 255, 255, 0.767);
  }
}

.Churros {
  .small-circle {
    background-color: white;
  }
  .big-circle {
    background-color: rgb(241, 189, 120);
  }
}

.Cenoura {
  .small-circle {
    background-color: white;
  }
  .big-circle {
    background-color: rgb(255, 133, 34);
  }
}

.Prestigio {
  .small-circle {
    background-color: rgba(255, 255, 255, 0.842);
  }
  .big-circle {
    background-color: #551f02;
  }
}
.all-choc {
  .small-circle {
    background-color: rgba(252, 224, 202, 0.842);
  }
  .big-circle {
    background-color: #5c2508;
  }
}

/* MONTE O SEU */
.monte-o-seu-section {
  color: #000;
  text-align: center;
  font-family: Coiny;
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  margin-top: -100px;
  background-color: var(--tom-fundo);

  .accordion {
    background-color: var(--secundaria);
    color: #fbc0c9;
    cursor: pointer;
    padding: 20px 25px;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 30px;
    border-radius: 12px;
    margin-bottom: 10px;
    font-family: "coiny", cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .seta {
    font-size: 18px;
    color: #fbc0c9;
    transition: transform 0.3s ease;
  }

  /* Se quiser girar a seta quando ativo: */
  .accordion.active .seta {
    transform: rotate(180deg);
  }

  .panel {
    padding: 10px 15px;
    display: none;
    background-color: var(--secundaria);
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px ;

    color: #fff;

    /* corpo */
    font-family: Comfortaa;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
  }
}

.marca-e-contato-section {
  background-color: var(--tom-fundo);

  .card-img {
    object-fit: cover;
    margin-bottom: 12px;
    border: 1px solid #b28b7e; /* borda fina para destacar */

    width: 100%;

    border: 1px solid #551f02;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
  }

  .card-title {
    font-family: "Coiny";
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
    color: #000000;
    text-shadow: 1px 1px 1px #cbb09e;
  }

  .card-text {
    font-size: 14px;
    line-height: 1.5;
    color: #551f02;
  }

  .contato {
    background-color: #fde2e5; /* rosa claro */
    padding: 40px 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
    color: #5c2a19; /* marrom escuro */
  }

  .mensagem {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .mensagem strong {
    font-weight: bold;
    font-size: 22px;
    color: #5c2a19;
  }

  .botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .botao {
    background-color: #ffc6c6; /* rosa botão */
    border: 2px solid #5c2a19;
    color: #5c2a19;
    padding: 12px 30px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .botao:hover {
    background-color: #f9b5b5;
  }
  
  marca-slider {
    width: 200px;
    height: 200px;
  }

  swiper-slide {
    padding-top: 0px;
  }
}

.mapa-section {
  background-color: var(--tom-fundo);

  .titulo-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -38px;
    position: relative;
  }

  .titulo-mapa h2 {
    font-size: 50px;
    font-family: "Coiny";
    margin: 0;
  }

  .donut-img {
    width: 150px;
    height: auto;
    margin-top: 60px;
  }

  .mapa-box {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid var(--secundaria);
    overflow: hidden;
    flex-shrink: 0;
  }

  .mapa-endereco {
    background-color: var(--secundaria);
    color: #fff5eb;
    padding: 15px;
    font-size: 16px;
    line-height: 1.4;
    font-family: "comfortaa";
  }

  .texto-mapa {
    color: var(--marrom-escuro);
    font-size: 11px;
    text-align: center;
  }

 .donut-prato {
  width: 200px;
  height: 200px;
 }

}

footer {
  color: var(--secundaria);

  & img[alt="logo"] {
    width: 102px;
    height: 102px;
  }

  & div:has(nav) {
    background-color: var(--secundaria);
    padding: 16px 32px;

    display: flex;
  }

  & div:has(p) {
    padding: 12px 0px;
    background-color: color-mix(
      in srgb,
      var(--secundaria) 50%,
      var(--tom-1) 40%
    );
    display: flex;
    
    
  }

  & .nav {
    margin-left: 50px;
    display: flex;
  }

  & p,
  a {
    color: #fff;
    font-family: "comfortaa";
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 8.64px */
    margin-left: 80px;

    margin: 0;
    opacity: 100;
    text-decoration: none;
  }

  & a:hover {
    color: var(--secundaria);
    margin-left: 50px;
  }
}

dialog {
  color: #fff;
  font-family: Exo;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  width: 100%;
  height: 100%;

  max-width: 100%;
  max-height: 100%;

  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;

  opacity: 0;
  transition: all 300ms allow-discrete;

  &[open] {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  & [role="logo"] {
    height: 96px;
  }

  & a,
  svg {
    color: white;
    text-decoration: none;
  }
  & nav {
    text-align: right;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  & .justify-between {
    justify-content: space-between;
  }
}

[role="logo"] {
  width: 160px;
  height: 160px;
  background-color: palevioletred;
  mask: url("assets/logo.png") no-repeat center;
  mask-size: 100%;
}

nav.main {
  width: 100%;
  padding: 24px 32px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  gap: 250px;

  transition: margin-top 1s;

  & [role="logo"] {
    width: 48px;
    height: 48px;
  }

  & svg {
    color: var(--marrom-escuro);
  }
}

dialog[open] + nav.main {
  margin-top: -96px;
}

/* Swiper container */
swiper-container {
  width: 100%;
  height: 100%;
}


/* *********** */
/* UTILITÁRIOS */
/* *********** */



.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}
